name: Build and test

on:
  push:
    breanches:
      - 'master'
      - 'feature/**'
  pull_request:
    branches:
      - 'master'
      - 'feature/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ./src/
    - name: Build
      run: dotnet build ./src/ --no-restore
    - name: Test
      run: dotnet test ./src/ --no-build --verbosity normal
